<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html style="margin: 0;-ms-word-break: break-word;font: 16px / 1.5 &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,&quot;PingFang SC&quot;,&quot;Hiragino Sans GB&quot;,&quot;Microsoft Yahei&quot;,&quot;Heiti SC&quot;,&quot;WenQuanYi Micro Hei&quot;,sans-serif;color: #324057;word-wrap: break-word;word-break: break-all;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>您有新的报障需要处理: {{ticket_title}} </title>
  <style type="text/css">
    html, body{
      margin: 0;
      -ms-word-break: break-word;
      font: 16px / 1.5 "Open Sans","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft Yahei","Heiti SC","WenQuanYi Micro Hei",sans-serif;
      color: #324057;
      word-wrap: break-word;
      word-break: break-all;
    }
    h1,h2,h3,h4,h5,h6{
      font-family: inherit;
    }
    h1{
      font-size: 30px;
    }
    h2{
      font-size: 26px;
    }
    h3{
      font-size: 22px;
    }
    h4{
      font-size: 18px;
    }
    h5{
      font-size: 14px;
    }
    h6{
      font-size: 10px;
    }
    img{
      max-width :100%;
    }
    a{
      color: #4361B7;
      text-decoration: none;
    }
    a:hover, a:active, a:active{
      color: #5470c0;
    }

    .btn {
      display: inline-block;
      line-height: 1;
      white-space: nowrap;
      cursor: pointer;
      background: #fff;
      border: 1px solid #c0ccda;
      color: #1f2d3d;
      -webkit-appearance: none;
      text-align: center;
      box-sizing: border-box;
      outline: none;
      margin: 0;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      padding: 10px 15px;
      font-size: 14px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      margin-left: 4px;
      margin-right: 4px;
    }

    .btn:first-child {
      margin-left: 0
    }

    .btn:last-child {
      margin-right: 0
    }

    .btn.pull-right {
      margin-right: 0
    }

    .align-right .btn:last-child {
      margin-right: 0;
    }

    .btn.btn-small {
      padding: 10px 15px;
      font-size: 14px;
      min-height: 34px;
      line-height: 1;
    }

    .btn.btn-small span.text {
      display: inline-block;
      vertical-align: middle
    }

    .btn.btn-block {
      margin: 0
    }

    .btn:hover, .btn.active {
      background: #f1f1f1;
      border-color: #aaa;
      color: #34495e
    }

    .btn.active:hover {
      background: #fff;
      border-color: #663c5e;
      color: #663c5e
    }

    .btn.clear {
      background: none;
      border-color: rgba(0, 0, 0, 0)
    }

    .btn.btn-default {
      background-color: #bdc3c7;
      color: #fff;
      border-color: #bdc3c7;
    }

    .btn.btn-default:hover {
      color: #fff;
      background-color: #cacfd2;
      border-color: #cacfd2
    }

    .btn.btn-primary {
      color: #fff;
      background-color: #13ce66;
      border-color: #13ce66;
    }

    .btn.btn-primary:hover {
      color: #fff;
      background-color: #14db6c;
      border-color: #14db6c
    }

    .btn.btn-info {
      color: #fff;
      background-color: #20a0ff;
      border-color: #20a0ff;
    }

    .btn.btn-info:hover {
      color: #fff;
      background-color: #2ba5ff;
      border-color: #2ba5ff
    }

    .btn.btn-danger {
      color: #fff;
      background-color: #ff4949;
      border-color: #ff4949;
    }

    .btn.btn-danger:hover {
      color: #fff;
      background-color: #ff5b5b;
      border-color: #ff5b5b
    }

    .btn.btn-warning {
      color: #fff;
      background-color: #f1c40f;
      border-color: #f1c40f;
    }

    .btn.btn-warning:hover {
      background-color: #f4d313;
      border-color: #f4d313
    }

    .btn.btn-processing {
      color: #fff;
      background-color: #9b59b6;
      border-color: #9b59b6;
    }

    .btn.btn-processing:hover {
      background-color: #a56abd;
      border-color: #a56abd
    }

    .btn.disabled, .btn.disabled:hover {
      color: #fff;
      background: #d8dbde;
      border-color: #d8dbde;
      cursor: not-allowed;
    }

    .btn.disabled.allowed, .btn.disabled:hover.allowed {
      cursor: pointer
    }

    .hr {
      height: 0;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid #e5e9f2;
    }

    .wrapper{
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
    }
    .wrapper .padding{
      padding: 10px;
    }
    .tab-title{
      font-size: 20px;
      font-weight: normal;
      border-bottom: 1px solid #d5e3f3;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .tab-title span{
      display: inline-block;
      padding: 0px 10px;
      border-bottom: 1px solid #20a0ff;
      padding-bottom: 5px;
      margin-bottom: -1px;
      color: #324057;
      font-size: 15px;
    }

    .tab-content{
      margin-left: 10px;
      margin-right: 10px;
    }

    .ticket-status {
      display: inline-block;
      color: #fff;
      border: 1px solid #aaa;
      padding: 4px 10px;
      margin: 0 5px;
      line-height: 16px;
      font-size: 12px;
      white-space: nowrap;
      border-radius: 3px;
    }
    .ticket-status.open,
    .ticket-status.opened {
      color: #00c36d;
      border-color: #00c36d;
    }
    .ticket-status.resolved {
      color: #0f74de;
      border-color: #0f74de;
    }
    .ticket-status.closed {
      color: #dd2338;
      border-color: #dd2338;
    }
    .ticket-status.processing {
      color: #9b59b6;
      border-color: #9b59b6;
    }
    .ticket-status.pending {
      color: #2b2b2b;
      border-color: #2b2b2b;
    }
    .ticket-severity {
      display: inline-block;
      color: #999;
      border: 1px solid #aaa;
      margin: 0 5px;
      line-height: 16px;
      font-size: 12px;
      border-radius: 3px;
      width: auto;
      height: auto;
      padding: 4px 15px;
    }
    .ticket-severity.large {
      width: 40px;
      height: 40px;
      font-size: 24px;
      line-height: 40px;
      padding: 0;
      text-align: center;
    }
    .ticket-severity.s_1 {
      background: #9a0000;
      border-color: #9a0000;
      color: #fff;
    }
    .ticket-severity.s_2 {
      background: #ff5959;
      border-color: #ff5959;
      color: #fff;
    }
    .ticket-severity.s_3 {
      background: #ffa359;
      border-color: #ffa359;
      color: #fff;
    }
    .ticket-severity.s_4 {
      background: #fff63b;
      border-color: #ffbb3d;
      color: #ffa266;
    }
    .ticket-severity.s_5 {
      background: #599eff;
      border-color: #599eff;
      color: #fff;
    }
    .summary-bar .slim-title {
      text-align: center;
      color: inherit;
      display: block;
    }
    .summary-bar .large-number {
      text-align: center;
      font-size: 30px;
      display: block;
      color: inherit;
    }
    .summary-bar .open {
      color: #00c36d;
    }
    .summary-bar .resolved {
      color: #0f74de;
    }
    .summary-bar .processing {
      color: #9b59b6;
    }
    .summary-bar .closed {
      color: #dd2338;
    }
    span.row{
      margin-bottom: 10px;
      width: 300px;
      display: inline-block;
    }
    span.row span.half{
      display: inline-block;
      width: 48%
    }

    span.row span.third{
      display: inline-block;
      width: 32%;
    }
    span.row span.fifth{
      display: inline-block;
      width: 20%;
    }
    span.row span.two-third{
      display: inline-block;
      width: 64%;
    }

  </style>
</head>
<body style="margin: 0;-ms-word-break: break-word;font: 16px / 1.5 &quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,&quot;PingFang SC&quot;,&quot;Hiragino Sans GB&quot;,&quot;Microsoft Yahei&quot;,&quot;Heiti SC&quot;,&quot;WenQuanYi Micro Hei&quot;,sans-serif;color: #324057;word-wrap: break-word;word-break: break-all;">
  <div class="logo-header" style="background: #202d3b;padding: 10px 10px 10px 10px;margin-bottom: 30px;">
    <div class="wrapper" style="width: 100%;max-width: 700px;margin: 0 auto;">
      <a href="https://{{domain}}" style="display: inline-block;height: 50px;vertical-align: top;color: #4361B7;text-decoration: none;"><img style="width: 50px;height: 50px;max-width: 100%;" src="https://{{domain}}/static/images/rc-logo.png" alt=""></a>
      <span style="display: inline-block;font-size: 26px; color: #d3dce6;line-height: 50px;vertical-align: top;margin-left: 10px;vertical-align: top;">
        OnDuty Project
      </span>
    </div>
  </div>
  <div class="wrapper" style="width: 100%;max-width: 700px;margin: 0 auto;">
    <div class="padding" style="padding: 10px;">
      <p>
        您好,
      </p>
      <p>
        您有新的报障 <a target="_blank" href="{{ticket_url}}" style="color: #4361B7;text-decoration: none;">{{ticket_id}}</a> 需要处理, 以下是报障详情:
      </p>
      <div class="ticket-wrapper" style="background: #f7fbff;padding: 20px;border: 1px solid #e6f0fb;">
        <div class="tab-title" style="font-size: 20px;font-weight: normal;border-bottom: 1px solid #d5e3f3;margin-top: 0;margin-bottom: 20px;">
          <span style="display: inline-block;padding: 0px 10px;border-bottom: 1px solid #20a0ff;padding-bottom: 5px;margin-bottom: -1px;color: #324057;font-size: 15px;">报障标题:</span>
        </div>
        <h3 class="tab-content" style="font-size: 18px;margin-top: 15px;margin-bottom: 15px;font-family: inherit;margin-left: 10px;margin-right: 10px;">
          {{ticket_title}}
        </h3>
        <div class="tab-title" style="font-size: 20px;font-weight: normal;border-bottom: 1px solid #d5e3f3;margin-top: 0;margin-bottom: 20px;">
          <span style="display: inline-block;padding: 0px 10px;border-bottom: 1px solid #20a0ff;padding-bottom: 5px;margin-bottom: -1px;color: #324057;font-size: 15px;">报障内容:</span>
        </div>
        <p class="tab-content" style="margin-left: 10px;margin-right: 10px;">
          {{ticket_details}}
        </p>
        <div class="tab-title" style="font-size: 20px;font-weight: normal;border-bottom: 1px solid #d5e3f3;margin-top: 0;margin-bottom: 20px;">
          <span style="display: inline-block;padding: 0px 10px;border-bottom: 1px solid #20a0ff;padding-bottom: 5px;margin-bottom: -1px;color: #324057;font-size: 15px;">报障属性:</span>
        </div>
        <p class="tab-content" style="margin-left: 10px;margin-right: 10px;">
          <span class="row" style="width: 100%;margin-bottom: 10px;display: inline-block;">
            <span class="fifth" style="color: #8492a6;display: inline-block;width: 20%;">报障状态:</span>
            <span class="two-third" style="display: inline-block;width: 64%;">
              <span class="ticket-status {{ticket_status}}" style="display: inline-block;border: 1px solid;padding: 4px 10px;margin: 0 5px;line-height: 16px;font-size: 12px;white-space: nowrap;border-radius: 3px;">{{ticket_status}}</span>
            </span>
          </span>

          <span class="row" style="width: 100%;margin-bottom: 10px;display: inline-block;">
            <span class="fifth" style="color: #8492a6;display: inline-block;width: 20%;">报障权重:</span>
            <span class="two-third" style="display: inline-block;width: 64%;">
              <span class="ticket-severity s_{{ticket_severity}}" style="display: inline-block;border: 1px solid;margin: 0 5px;line-height: 16px;font-size: 12px;border-radius: 3px;width: auto;height: auto;padding: 4px 15px;">{{ticket_severity}}</span>
            </span>
          </span>

          <span class="row" style="width: 100%;margin-bottom: 10px;display: inline-block;">
            <span class="fifth" style="color: #8492a6;display: inline-block;width: 20%;">报障链接:</span>
            <span class="two-third" style="display: inline-block;width: 64%;"><a href="{{ticket_url}}" style="color: #4361B7;text-decoration: none;">{{ticket_id}}</a></span>
          </span>

          <span class="row" style="width: 100%;margin-bottom: 10px;display: inline-block;">
            <span class="fifth" style="color: #8492a6;display: inline-block;width: 20%;">报障创建者:</span>
            <span class="two-third" style="display: inline-block;width: 64%;">{{ticket_creater}}</span>
          </span>

          <span class="row" style="width: 100%;margin-bottom: 10px;display: inline-block;">
            <span class="fifth" style="color: #8492a6;display: inline-block;width: 20%;">创建时间:</span>
            <span class="two-thrid">
              <span>{{create_time}}</span>
            </span>
          </span>
        </p>
        <div class="hr" style="border-color: #d3dce6;height: 0;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #e5e9f2;"></div>
        <div style="text-align: center;">
          <a class="btn btn-small btn-info" target="_blank" href="{{ticket_url}}" style="color: #fff;text-decoration: none;display: inline-block;line-height: 1;white-space: nowrap;cursor: pointer;background: #fff;border: 1px solid #c0ccda;-webkit-appearance: none;text-align: center;box-sizing: border-box;outline: none;margin: 0;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;padding: 10px 15px;font-size: 14px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;margin-left: 0;margin-right: 4px;min-height: 34px;background-color: #20a0ff;border-color: #20a0ff;">点此查看报障详情</a>
          <br>
          <br>
          <small>
            如果不能点击链接, 请复制以下地址在浏览器打开:
            <br>
            <a target="_blank" href="{{ticket_url}}" style="color: #4361B7;text-decoration: none;">{{ticket_url}}</a>
          </small>
        </div>
      </div>
      <br>
    </div>
  </div>
</body>
</html>
